<% if flash[:info] %>
<%= flash[:info] %>
<% end %>

<% if @tweet.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
  <% @tweet.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<% if session[:login_uid] %>
  <%= form_for @tweet, url: {action: :create} do |f| %>
  <p>
    <%= f.text_field :message %>
    <%= f.submit "ツイート" %>
  </p>
  <% end %>

  <% user = User.find_by(uid: session[:login_uid]) %>
<% end %>


<% @tweets.each do |t| %>
<p>
  <%= t.message %>
  <%= User.find(t.user_id).uid %>
  <% if current_user and t.user_id == current_user.id %>
    <%= link_to '削除', tweet_path(t), method: :delete, data: { confirm: '削除していいですか？' }  %>
  <% end %>
  <% if current_user %>
    <% if Like.find_by(user_id: current_user.id, tweet_id: t.id) %>
      <%= link_to '❤️', like_path(t), method: :delete %>
    <% else %>
      <%= link_to '♡', likes_path(tweet_id: t.id), method: :post %>
    <% end %>
  <% end %>
</p>
<% end %>

<% if current_user %>
  <p><%= link_to 'ログアウト', top_logout_path %></p>
<% else %>
  <p><%= link_to 'ログイン', top_login_path %></p>
<% end %>

<p><%= link_to 'ユーザID一覧', users_path %></p>
<p><%= link_to 'ユーザ登録', new_user_path %></p>
